* {
    margin: 0;
    padding: 0;
}

.contenedor-grid {
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
    display: grid;
    gap: 10px;
    grid-template-areas:
        "seis seis tres uno"
        ". dos tres ."
        "cuatro dos cinco cinco";
}

.contenedor-grid div {
    border: 2px solid black;
    font-size: 50px;
}

.elemento-1 {
    grid-area: uno;
    background: red;
}

.elemento-2 {
    grid-area: dos;
    background: purple;
}

.elemento-3 {
    grid-area: tres;
    background: darkslateblue;
}

.elemento-4 {
    grid-area: cuatro;
    background: crimson;
}

.elemento-5 {
    grid-area: cinco;
    background: darkviolet;
}

.elemento-6 {
    grid-area: seis;
    background: darkred;
}