/* Fondo de la página */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #121212;
    color: white;
}

/* Caja principal para editar perfil */
.contenedor-editar {
    width: 320px;
    margin: 80px auto;
    padding: 25px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px black;
}

/* Campos donde el usuario escribe */
input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: none;

    box-sizing: border-box;
}

/* Texto de la foto de perfil */
.texto-fotoPerfil {
    text-align: left;
    font-size: 14px;
    color: #ccc;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #ff9800;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

button:hover {
    background: #e68900;
}

.logo {
    width: 250px;
    margin-bottom: 15px;
}