*{
    margin: 0;
    padding: 0;
}
.contenido {
    width: 500px;
    height: 500px;
    border: 5px solid darkred;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transition: all 0.3s ease;
}